<!DOCTYPE html>
<html>
<head>
  <title>Lisää ravintola</title>
</head>
<body>
    <header style="display: flex; justify-content: space-between; align-items: center;">
        <div>
            <a href="/">Etusivulle</a>
            <a href="/restaurants">Selaa ravintoloita</a>
            <a href="/search_restaurants">Etsi ravintolaa</a>
        </div>
        <div>
            {% if session.username %}
                <a href="/user/{{ session.username }}">{{ session.username }}</a>
                <a href="/logout">Kirjaudu ulos</a>
            {% else %}
                <a href="/login">Kirjaudu sisään</a>
                <a href="/register">Rekisteröidy</a>
            {% endif %}
        </div>
    </header>
    {% with messages = get_flashed_messages(with_categories=true) %}
    {% if messages %}
        <div class="flashes">
        {% for category, message in messages %}
            <div class="flash {{ category }}">{{ message }}</div>
        {% endfor %}
        </div>
    {% endif %}
    {% endwith %}
    <h1>Lisää ravintola</h1>
    <form action="/new_restaurant" method="post">
        <p>
        Nimi: <br />
        <input type="text" name="name" />
        </p>
        <p>
        Osoite: <br />
        <input type="text" name="address" />
        </p>
        <p>
        Nettisivu: <br />
        <input type="text" name="link" />
        </p>
        <input type="submit" value="Lisää ravintola" />
    </form>
    <p>
        <a href="/">Peruuta</a>
    </p>
</body>

</html>