{% extends "layout.html" %}
{% block content %}
<h2>Hae ravintoloita</h2>
<form action="/search_restaurants" method="get">
    <p>
        <label for="query">Hakusana</label>:
        <input type="text" name="query" id="query" value="{{ query }}">
    </p>
    <input type="submit" value="Lähetä">
</form>
    {% if query %}
        <h3>Tulokset</h3>
        {% if results %}
            <ul>
                {% for restaurant in results %}
                    <li><a href="/restaurant/{{ restaurant.id }}">{{ restaurant.name }}</a></li>
                {% endfor %}
            </ul>
        {% else %}
            <p>Ei löytynyt ravintoloita hakusanalla "{{ query }}"</p>
        {% endif %}
    {% endif %}
{% endblock %}